.browse {
  justify-content: center;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: fade-in .3s linear;
  }

  @media (min-width: 800px) {
    display: flex;
    &__content {
      max-width: calc(80% - 200px);
      &:after {
        content: "";
        flex: auto;
      }
    }
  }

  @media(min-width: 1200px) {
    &__content {
      max-width: calc(100% - 200px);
    }
  }
}