.browse {
  margin-top: 100px;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: calc(100% - 200px);
  }

  &__content {
    animation: fade-in .3s linear;
    margin: 0 auto;
  }

  @media (min-width: 800px) {
    display: flex;
  }
}