.cart {
  padding: 20px;
  
  &__table {
    width: 100%;
    border-spacing: 0;
  }

  &__head {
  
  }
  &__heading { 
    height: 80px;
    padding: 20px;
    text-align: right;
    border-bottom: 1px solid $darkGray;

    &:first-of-type {
      text-align: left;
    }
  }
  
  &__data {
    padding: 40px 0;
    text-align: right;

    &:first-of-type {
      
      text-align: left;
    }
  }
  &__name {margin: 0;}
  &__info {
    height: 100%;
    vertical-align: center;
    > button {
      @include button;
      margin: 0;
      background-color: $crimson;
      width: fit-content;
    }
  }

  img { 
    float: left;
    width: 150px;
  }
}