.checkout {
  @include layout;
  
  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__left {

  }

  &__right {
   
  }

  &__scroll {
    position: sticky;
    top: 120px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 20px;
    border: 1px solid lightgray;
    width: 100%;
    border-radius: 10px;

    & .cart-item__img {
      visibility: hidden ;
    }
  }

  &__totals {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    padding: 20px 0;

    & > span {
      display: flex;
      justify-content: space-between;
      width: 200px;
      margin-left: 10px;
    }
  }
  &__label {
    font-weight: 600;
  }
  &__confirm {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid lightgray; 
  }
  &__info {
    display: grid;
    align-items: center;
  }
  &__continue,
  & button {
    @include button;
    justify-content: center;
    
  }
  &__nav {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 800px) {
    &__items {
      max-width: 450px;
    }
    
    &__container {
      flex-direction: row;
    }
    &__payment {
      width: fit-content;
      
      
    }
  }
}