.checkout {
  padding: 20px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 20px;
    border: 1px solid $darkGray;
    max-width: 450px;
    border-radius: 5px;

    & .cart-item__img {
      visibility: hidden ;
    }
  }

  &__totals {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    padding: 20px 0;
    
  }
}