.hero {

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
 
  }
  &__subtitle {
    font-size: 1.8rem;;
  }
  &__info {
    padding: 10px 40px 0;
  }

  &__image {
    width: 100%;
    max-height: 300px;
    filter: grayscale(.5) contrast(.8);
   
    &:first-of-type {
      transform-origin: left;
    }
  }

  @media(min-width: 999px) {

    &__content {
      flex-direction: row;
    }
    &__image {
      max-width: 470px;
    }
    &__info {
      min-width: 560px;
    }
  }

  @media(min-width: 1100px) {
    &__info {
      min-width: 500px;
    }
  }
} 