@mixin button {
  color: $white;
  display: flex;
  align-items: center;
  margin: 20px 0;
  text-transform: uppercase;
  outline: none;
  padding: 5px 40px;
  gap:0 20px;
  border: none;
  background-color: $black;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: .3s ease-in-out;
  height: 50px;
  
  > svg {
    font-size: 25px;
  }

  &:hover {
    background-color: crimson;
  }
}