.payment {
  @include layout;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__right {

  }
  &__card {
    display: flex;
  }
  &__card-info {
    display: flex;
    flex-direction: column;
  }
}