.product {
 
  padding: 20px;
  min-height: 100vh;
  display: grid;
  align-items: center;
  max-width: 1200px;

  &__images {
    animation: fade-in-left 1s ease-in forwards;

    & > img {
      min-width: 250px;
      width: 100%;
      max-width: 500px;
    }
  }
  
  &__content {
    opacity: 0;
    animation: fade-in-right 1s ease-in forwards;
    animation-delay: .5s;
  }
  &__quantity {
    width: 40px;
    height: 30px;
    margin-left: 10px;
    text-align: center;
    border: 2px solid $black;
    border-radius: 2px;
  }

  &__description {
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: $darkGray;
  }

  &__button {
    @include button;
  }

  &__socials {
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  &__social {
    margin: 0 10px;
    color: $darkGray;
    font-size: 20px;
    transition: .4s ease-in-out;

    &:hover {
      color: $crimson;
    }
  }

  &__arrows {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
   
    width: 100%;
 
    
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 150px;
    color: $darkGray;
    transition: .4s ease-in-out;

    &:hover {
      color: $crimson;
    }
  }



  @media(min-width: 800px) {
    margin: 0 auto;
    display: flex;
    gap: 0 5rem;

    &__arrows {
      justify-content: space-between;
      max-width: 400px;
      min-width: 350px;
    }
  }
}


